@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

:root {
  font-family: DM Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #ffffff;
  --black: #242424;
  --grey-dark: #444444;
  --grey-darker: #2c2c2c;
  --grey-darkest: #1e1e1e;
  --light-blue: #eff7ff;
  --yellow: #fec706;
  --purple: #a259ff;
  --red: #ff8475;
  --green: #24a75a;
  --blue-deep: #5551ff;
  --blue: #689bf6;

  --primary: var(--black);
  --secondary: var(--white);
  --accent: var(--red);

  --border: 3px solid var(--black);
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 0;
  margin: 0;
  /* background-image: url('/background/dot1.svg');
  background-size: 40px;
  background-repeat: repeat;
  background-attachment: fixed; */
}

h1 {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}
